.one-task {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 5px 6px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 30px;
  align-items: center;
  margin-bottom: 10px;

  &__box-content {
    display: flex;
    gap: 10px
  }

  &__title {
    font-size: 20px;
    cursor: pointer;
  }

  &__button {
    background-color: transparent;
    font-size: 17px
  }
}

.completed-task {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 5px 6px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 30px;
  align-items: center;
  margin-bottom: 10px;
  opacity: 0.5;
}